@import "tailwindcss";

:root {
  --background: oklch(97.5% 0 0);
  --accent-background: oklch(96% 0 0);
  --muted-background: oklch(94% 0 0);
  --foreground: oklch(3% 0 0);
  --card: oklch(99% 0 0);
  --border: oklch(85% 0 0);
}

.dark {
  /* Hello */
}

@theme inline {
  --color-background: var(--background);
  --color-accent-background: var(--accent-background);
  --color-muted-background: var(--muted-background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);

  --font-amita: "Amita", handwriting;
  --font-bad-script: "Bad Script", handwriting;
  --font-caveat: "Caveat", handwriting;
}

body {
  @apply bg-background text-foreground;
}

button {
  @apply cursor-pointer;
}
